body{
    font-family: "Open Sans", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

td a{
    height:100%;
    display: block;
    padding-bottom: 0px;
}

p{
    height:29px;
    margin:0;
    line-height:36px;
}

tr{
    height:29px;
}

.items{
    border-bottom: 1px solid black;
}

.items, .items a, .items a:visited, .items a:link{
    color: black;
    background-color: black;
    text-decoration:none;

}

.items:hover, .items:hover a{
    background-color: white
}

.locations{
    border-bottom: 1px solid black;
}

.locations a:link {
    color: black;
    text-decoration:none;
}
.locations a:hover {
    color: black
}

a:visited {
    color: black
}

.itemsRevealed{
    border-bottom: 1px solid black;
}

.itemsRevealed, .itemsRevealed a:visited, .itemsRevealed a:link {
    background-color: white;
    color: black;
    text-decoration:none;
    
}

.itemsNull{
    background-color: white;
    border-color:black;
    border-style:solid;
    border-width: 1pt;
    display: none;
}

.locationHeader{
    font-size:14pt;
    font-weight:bold;
    height: 36px;
    border-style:none;
    line-height:50px;
    

}

#inputDiv{
    margin: 20px;
    display:grid;
    grid-template-areas:
    'title title title'
    'left . right';

}

#inputDiv h1{
    grid-area:title;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#inputfile{
    font-size: 16pt;
    grid-area:left;
    text-align: left;
}

#randoDet{
    grid-area:right;
    margin-left: auto;
    text-align: right;
    
}

#tableDiv{
    display:grid;
    grid-template-areas:
    'table table table table . buttons'
    'table table table table . buttons'
    'table table table table . .';
}

#tableDiv table{
    grid-area:table;
    color:black;
    
}

#buttonDiv{
    display:block;
    position:fixed;
    right:0px;
    top:0px;
    margin: 5px;
}

.button{
    padding: 16px;
    font-size: 14pt;
}