body{
    font-family: "Open Sans", sans-serif;
}

td a{
    height:100%;
    display: block;
    padding-bottom: 0px;
}

p{
    height:29px;
    margin:0;
    line-height:36px;
}

tr{
    height:29px;
}

.items{
    border-bottom: 1px solid black;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.itemsHidden, .itemsHidden a, .itemsHidden a:visited, .itemsHidden a:link{
    color: black;
    background-color: black;
    text-decoration:none;

}

.locations{
    border-bottom: 1px solid black;
}

.locations a:link {
    color: black;
    text-decoration:none;
}
.locations a:hover {
    font-weight: bold;
}

a:visited {
    color: black
}

.itemsRevealed{
    border-bottom: 1px solid black;
}

.itemsRevealed, .itemsRevealed a:visited, .itemsRevealed a:link {
    background-color: white;
    color: black;
    text-decoration:none;
    
}

.itemsNull{
    background-color: white;
    border-color:black;
    border-style:solid;
    border-width: 1pt;
    display: none;
}

.locationHeader, .locationHeader a:hover{
    font-size:14pt;
    font-weight:bold;
    height: 36px;
    border-style:none;
    line-height:50px;
    color:black;
    

}

#HeaderDiv{
    position:relative;
    margin: 20px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;

}

#headerDiv > *{
    flex-basis: 100%;
}

#titleDiv{
    order:0;
    flex: 1 0 100%;
    text-align: center;
}

#inputDiv{
    position:relative;
    display: grid;
    max-width: 20%;
}

#inputButton{
    grid-column: 1;
    grid-row: 2;
    padding: 16px;
    font-size: 14pt;
    margin: 2px;
    width: 200px
}

.label{
    grid-column: 1;
    grid-row: 1;
    
}

#errorDiv, #infoDiv{
    position:absolute;
    left:50%;
    top: 100px;
    transform: translate(-50%, 0);
    display: block;
    order:3;
    align-self: center;
    overflow-x:auto;
    margin: 10px;
    max-width: 60%;
}

#randoDet{
    display: flex;
    order:4;
    text-align: right;
    max-width: 10%;
    
}

#tableDiv{
    display:flex;
    
}

#tableDiv table{
    width: 80vw;
    color:black;
    
}

#buttonDiv{
    display:flex;
    position:sticky;
    flex-wrap:wrap;
    right:0px;
    top:10px;
    float:right;
    margin: 5px;
    width: 18vw;
    justify-content: center;
}

.button{
    display:flex;
    position:relative;
    padding: 16px;
    font-size: 14pt;
    margin: 2px;
}



.hide{
    display: none;
}

#searchInput{
    font-size: 12pt;
    display:flex;
    position:relative;
    padding: 16px;
    margin: 2px;
}

#blurDiv{
    display:none;
    backdrop-filter: blur(3px);
    position:fixed;
    width:100%;
    height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popupDiv{
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px double black;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    
}